mmcif
scandir
mysqlclient
wwpdb.utils.config
wwpdb.io
wwpdb.utils.session
rcsb.utils.multiproc
sqlalchemy

# For testing - full requirements
wwpdb.utils.dp

# For testing - extra imports
wwpdb.utils.testing
mmcif.utils
mock

# For mypy
types-mysqlclient

